<div class="footer-container">
  <div class="grid">
    <div class="grid-1">
      <h3>Free Shipping</h3>
      <p>Get 2-day free shipping anywhere in North America.</p>
    </div>
    <div class="grid-1 spacing">
      <h3>2 years warranty</h3>
      <p>
        If anything goes wrong in the first two years, we'll replace it for
        free.
      </p>
    </div>
    <div class="grid-2">
      <div class="">
        <h1>{{total| currency}}</h1>
        <p>Need financing? Learn more</p>
      </div>
      <button class="button-primary">Buy now</button>
    </div>
  </div>
</div>
