:root {
    --f-size-5: 5px;
    --f-size-7: 7px;
    --f-size-8: 8px;
    --f-size-10: 10px;
    --f-size-small: 12px;
    --f-size-14: 14px;
    --f-size: 16px;
    --f-size-18: 18px;
    --f-size-medium: 20px;
    --f-size-24: 24px;
    --f-size-28: 28px;
    --f-size-big: 30px;
    --f-size-32: 32px;
    --f-size-36: 36px;
    --f-size-58: 58px;
    --f-size-78: 70px;
    --border-radius-3: 3px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius: 14px;
    --border-radius-15: 15px;
    --border-radius-18: 18px;
    --border-radius-25: 25px;
    --padding-20px: 20px;
    --shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.07);
    --card-shadow: 0 7px 29px 0 rgba(51, 41, 39, 0.1);
    --chat-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.07);
  };